/* Shared styles */

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
***REMOVED***

h1 {
  font-weight: 100;
***REMOVED***

/* Home.js */

.content-wrapper {
  display: flex;
  min-height: 100vh;
***REMOVED***

.home-bg {
  display: flex;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
***REMOVED***

.home-bg h1 {
  color: #fff;
  text-align: center;
  font-size: 3em;
***REMOVED***

.home-bg .btn {
  margin-top: 20px;
***REMOVED***
