/* Shared styles */

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

h1 {
  font-weight: 100;
}

/* Nav.js */

nav {
  background: rgba(252,90,44,.89);
}

nav .navbar-brand, a:not([href]):not([tabindex]) {
  color: #fff;
}

nav form {
  margin-bottom: 0;
}

/* Home.js */

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 400px;
}

.home-bg {
  display: flex;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.home-bg h1 {
  color: #fff;
  text-align: center;
  font-size: 3em;
}

.home-bg form {
  justify-content: center;
}

.home-bg .btn {
  margin-bottom: 0;
}

/* Forecast.js */

.forecast h1 {
  text-align: center;
}
